# SPSS Model Replicated with Python in Watson Studio
Jeremy Gould  
Predictive Analytics Specialist  
Watson IoT Analytics, Connected Operations   

<h2 style="color: blue"> Markdown introduction </h2>

Text in cells that contain notes instead of code, like this cell, is written with a tool called Markdown.  
You can change the role of a cell from code to Markdown by clicking the drop down box next to the word  
'Format' on the toolbar directly above this notebook. Markdown is a text-to-HTML conversion tool for web  
writers.  It's a basic tool that's not intended to replace HTML but meant to be an easy syntax to  
read and understand to make writing text on the web simple.  There's not a whole lot to Markdown itself.  
It's basically text and punctuation characters, so for any tasks that Markdown's syntax doesn't support,  
inline HTML can be use instead.  


<h3 style="color: red"> double click this cell to check out this line written in html....see what I'm saying? </h3>


Check out this [link](https://www.markdowntutorial.com/) to get familiar with writing in Markdown.

Here's another good [link](https://daringfireball.net/projects/markdown/syntax)

You'll also see a hastag used to write comments in code in this notebook.  This is done to show that  
there are multiple way to annotate code in a notebook.

<h2 style="color: blue"> Modeling introduction </h2>

This notebok was built in order to replicate a prexisting SPSS stream written by Tom Konchan in a jupyter notebook.  
It's meant to be used as an enablement tool to scale the skills needed to perform a PoC in DSX across  
the Watson IoT Analytics team.  I recommended having the SPSS stream open as you walk through the notebook  
so you can see how each node of the SPSS stream is refelcted in the syntax below.

<h2 style="color: blue"> Python enablement materials </h2>

There are a ton of resources on-line to help get up to speed with writing python code.  Here's are a few resources  
that could be helpful with picking up python:

* Python Bootcamp.pdf document provided in file
* Documentation site for [python 2.7](https://docs.python.org/2/tutorial/index.html)
* Coursera course: [Intro to Data Science in Python](https://www.coursera.org/learn/python-data-analysis#)
* Intro to python [course](https://www.codecademy.com/learn/learn-python)
* Badges for [data science with python courses](https://cognitiveclass.ai/learn/data-science-with-python/)
* List of [intro books for python](https://wiki.python.org/moin/IntroductoryBooks)

When doing data science work and working with data in general in python, you will just about always use  
the [pandas library](http://pandas.pydata.org/pandas-docs/stable/). This library has a pretty exhaustive list of functions that have been written to  
complete different tasks. Once you are comfortable with it, I think you'll find most of the code and  
functions are written pretty intuitively.

The [numpy library](http://www.numpy.org/) also is used frequently so you may encounter it or need it is as well.

The last major library that you will use frequently when working with data science in python is [sklearn](http://scikit-learn.org/stable/).  
Sklearn is the open source library that has a lot of the functions used to train and score a variety of algorithms,  
evaluate models, and complete other tasks that are related to model building.

Between the 3 libraries listed above, I've found that predominately pandas and sklearn are used the most when working with  
data science in python.

For any fucntions or statements that you see in this notebook that you'd like more information on, google it!  
You'll just about always be taken to a page on stackoverflow.com with a similar questions and answers.  You  
can also pretty easily find the documentation online for the functions and it's often really good documentation.  

<h2 style="color:blue"> Code examples </h2>

Often times, I find the best way to learn to code and learn data science is by reviewing other's work.  
The website [Kaggle](https://www.kaggle.com/kernels?sortBy=hotness&group=everyone&pageSize=20&language=Python) is a great resource to use to review work that other practictioners have posted.  
Simply click the hyperlink and make sure that you've selected Python on the Languages drop down tab to see a list of  
projects that people have submitted code examples too.  You can often get ideas on techiniques or code  
snippets to apply to your project by reviewing these examples.

Ok....*now on to the modeling!*


<h2> Step one </h2>

We need to load the data we will be working with into the notebook.  Navigate to the top right toolbar and click on the  
square with the 1s and 0s.  A panel will pop out that has the csv data files listed.  Click 'insert to code' and  
then 'insert pandas DataFrame' for the TK_demo_model_data.csv file.  The code should automatically appear in the  
cell.  Execute the code by clicking run on the toolbar above the notebook.

Notice the import statements that are listed in the top of the cell.  This is the syntax used by python to load a  
library into the notebook to use it.  Anytime you want to use a function that is contained in one of these libraries,  
you will need to load the library first.  If you see the word 'as' after the import statement, that is the syntax that gives the  
library what can be thought of as a nickname so it's easy to refer to with code.  It's an optional thing to do but helps.  

The second to last line of code that gets populated below has a pd reference which points to the pandas library.  So the read_csv  
statement is a funciton that comes out of the pandas library.  With the last two lines, we are creating a dataframe in python  
from the csv file we uploaded and then we are previewing the data with the .head() command.  

...the .head() command previews 5 rows as default but gives you the option to specify the number of rows you want too.  Pass a  
different number in the paranthesis to preview different amounts of rows.

In [1]:
import sys
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share your notebook.
client_cb054ee4c5d549b6b6a7b15cd3866ac7 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='<api key>',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_cb054ee4c5d549b6b6a7b15cd3866ac7.get_object(Bucket='tklivedatademo6629b7d8d0bc4dfe8b1070173649a76f',Key='TK_demo_model_data.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

         ID                 DATE   TEMP  X   Y   Z
0  Graeme's  2017-06-20 17:02:50   77.1  8  14  18
1  N Blower  2017-06-20 17:02:50  101.5  2   2   1
2  S Blower  2017-06-20 17:02:50  101.6  1   2   1
3   Chiller  2017-06-20 17:02:50  111.3  1   2   2
4  Graeme's  2017-06-20 17:02:51   74.3  2   2   3

Repeat the steps for the SCORING_INPUT.CSV file.  This will be the data set we'll use to score  
new records with.  We won't use it until the end of this notebook but lets import it and get  
it set up now.  Replace the df_data_2 text with scoring_input_data to give the dataframe a  
more meaningful name.  In general, it's a good idea to use meaningful names when naming  
variables and dataframes.


#  PRO TIP!: 
pressing tab while in the middle of writing a piece of code will enable  
the notebook's autocomplete feature for what you are writing (that is, if there  
is anything the notebook can autocomplete for you); 

try it out, it's awesome! What this does is make it easy to work with long variable  
names that are meaningful to whatever the variable is doing. 


Below, notice I used the .sort_values function to sort the dataframe by the ID and DATE columns.  
This is equivalent to the source node in SPSS.

In [2]:
body = client_cb054ee4c5d549b6b6a7b15cd3866ac7.get_object(Bucket='tklivedatademo6629b7d8d0bc4dfe8b1070173649a76f',Key='SCORING_INPUT.CSV')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

scoring_input_data = pd.read_csv(body)
scoring_input_data = scoring_input_data.sort_values(['ID','DATE'],ascending = ['True','True'])
scoring_input_data.head()

            ID                 DATE   TEMP  X  Y  Z
468517  Boiler  2017-07-08 23:10:02  115.8  2  2  2
468522  Boiler  2017-07-08 23:10:07  115.7  2  2  2
468527  Boiler  2017-07-08 23:10:12  115.8  2  2  2
468532  Boiler  2017-07-08 23:10:17  115.8  2  2  2
468537  Boiler  2017-07-08 23:10:22  115.7  2  2  2

Next we'll want to check the data types of the variable to ensure python read the variables  
in how we wanted it too.  We'll use the statement .dtypes to do this.

In [3]:
scoring_input_data.dtypes

ID       object
DATE     object
TEMP    float64
X       float64
Y       float64
Z       float64
dtype: object

ID and DATE are read in as objects instead of as categorical variable and a Timestamp.  
I'm not entirely sure what an object data type is, but lets convert those to the data  
types we want so that everything works how we want.

In [4]:
scoring_input_data['DATE'] = pd.to_datetime(scoring_input_data['DATE'])
scoring_input_data['ID'] = scoring_input_data['ID'].astype('category')
scoring_input_data.dtypes

ID            category
DATE    datetime64[ns]
TEMP           float64
X              float64
Y              float64
Z              float64
dtype: object

In [5]:
#Going back to the original training data set now, let's
#quickly explore data by generating summary statistics;
#this is similar to a data audit node in SPSS;
df_data_1.describe(include = 'all')

,ID,DATE,TEMP,X,Y,Z
count,1688989,1688989,1688989.000000,1688989.000000,1688989.000000,1688989.000000
unique,9,1169774,NaN,NaN,NaN,NaN
top,Chiller,2017-07-12 11:55:03,NaN,NaN,NaN,NaN
freq,383524,66,NaN,NaN,NaN,NaN
mean,NaN,NaN,94.316463,4.272754,4.098510,7.188819
std,NaN,NaN,16.151560,9.005191,7.957902,17.862491
min,NaN,NaN,64.100000,1.000000,1.000000,1.000000
25%,NaN,NaN,82.700000,1.000000,1.000000,1.000000
50%,NaN,NaN,95.100000,1.000000,2.000000,2.000000
75%,NaN,NaN,107.800000,2.000000,2.000000,3.000000
max,NaN,NaN,270.000000,127.000000,127.000000,127.000000

In [6]:
#we can see 'ID' is made up of string values by viewing the top value of 'Chiller';
#we also can see the 'DATE' column should be a timestamp but we don't know if
#it's read in that way;
#lets check the data types again of each column to see if Python is recognizing 
# the data types of each column how we want
df_data_1.dtypes

ID       object
DATE     object
TEMP    float64
X       float64
Y       float64
Z       float64
dtype: object

In [7]:
#DATE has a data type that is an object, 
#but we want it to be a timestamp; 
#so we'll apply the same data type conversion we did
#to the scoring_input data set to the df_data_1 set;

df_data_1['DATE'] = pd.to_datetime(df_data_1['DATE'])
df_data_1['ID'] = df_data_1['ID'].astype('category')
df_data_1.dtypes

ID            category
DATE    datetime64[ns]
TEMP           float64
X              float64
Y              float64
Z              float64
dtype: object

In [8]:
#we can see we have changed the data types to the datetime64 and category type;
#next we want to select only the records that come before the timestamp "2017-07-03 00:00:00";
#we'll write the statement to do this and create a new DataFrame with the output;
#and we'll finally give the dataframe a meaningful name!

reliableData = df_data_1[df_data_1.DATE >= "2017-07-03 00:00:00"]
print reliableData

               ID                DATE   TEMP   X   Y   Z
5464     HeatPump 2017-07-04 05:52:06   69.2   2   1   1
5465     S Cmprsr 2017-07-04 05:52:06   85.7   1   1   2
5466         Hand 2017-07-04 05:52:08   82.1   2   2   2
5467     N Cmprsr 2017-07-04 05:52:08   85.9   1   1   2
5468      Chiller 2017-07-04 05:52:09  107.6   1   2   2
5469     HeatPump 2017-07-04 05:52:11   69.2   1   1   1
5470     S Cmprsr 2017-07-04 05:52:11   85.5   1   1   2
5471         Hand 2017-07-04 05:52:13   81.9   2   2   2
5472     N Cmprsr 2017-07-04 05:52:13   85.9   1   1   2
5473      Chiller 2017-07-04 05:52:14  107.5   2   2   2
5474     HeatPump 2017-07-04 05:52:16   69.3   1   1   1
5475     S Cmprsr 2017-07-04 05:52:16   85.4   1   1   2
5476         Hand 2017-07-04 05:52:18   80.8   1   2   2
5477     N Cmprsr 2017-07-04 05:52:18   85.9   1   1   2
5478      Chiller 2017-07-04 05:52:19  107.6   2   2   2
5479     HeatPump 2017-07-04 05:52:21   69.8   1   1   1
5480     S Cmprsr 2017-07-04 05:52:21   85.4   1   1   2
5481         Hand 2017-07-04 05:52:23   80.6   2   2   2
5482     N Cmprsr 2017-07-04 05:52:23   85.9   1   1   2
5483      Chiller 2017-07-04 05:52:24  107.8   1   2   3
5484     HeatPump 2017-07-04 05:52:26   70.0   1   1   1
5485     S Cmprsr 2017-07-04 05:52:26   85.3   2   1   2
5486         Hand 2017-07-04 05:52:28   80.7   2   2   2
5487     N Cmprsr 2017-07-04 05:52:29   85.9   1   1   2
5488      Chiller 2017-07-04 05:52:29  107.6   1   2   2
5489     HeatPump 2017-07-04 05:52:31   69.6   1   1   1
5490     S Cmprsr 2017-07-04 05:52:31   85.2   2   2   2
5491         Hand 2017-07-04 05:52:33   80.6   2   2   2
5492     N Cmprsr 2017-07-04 05:52:33   85.8   1   1   2
5493      Chiller 2017-07-04 05:52:34  107.7   1   2   2
...           ...                 ...    ...  ..  ..  ..
1688959  N Cmprsr 2017-07-13 02:11:12  101.2  20  19  35
1688960  HeatPump 2017-07-13 02:11:12   69.9   3   2   8
1688961  S Cmprsr 2017-07-13 02:11:13   97.4   1   1   2
1688962   Chiller 2017-07-13 02:11:13  103.7   1   2   2
1688963    Boiler 2017-07-13 02:11:15  112.6   1   1   1
1688964  N Cmprsr 2017-07-13 02:11:17  101.4  20  17  35
1688965  HeatPump 2017-07-13 02:11:17   70.0   3   2   8
1688966   Chiller 2017-07-13 02:11:18  103.9   1   2   2
1688967  S Cmprsr 2017-07-13 02:11:18   97.5   1   1   2
1688968    Boiler 2017-07-13 02:11:20  112.6   1   1   2
1688969  N Cmprsr 2017-07-13 02:11:22  101.5  20  17  34
1688970  HeatPump 2017-07-13 02:11:22   67.3   3   2   8
1688971   Chiller 2017-07-13 02:11:23  103.9   1   2   2
1688972  S Cmprsr 2017-07-13 02:11:23   97.4   1   1   2
1688973    Boiler 2017-07-13 02:11:25  112.5   1   1   2
1688974  N Cmprsr 2017-07-13 02:11:27  101.4  20  17  37
1688975  HeatPump 2017-07-13 02:11:27   69.2   3   2   8
1688976   Chiller 2017-07-13 02:11:28  103.9   1   2   2
1688977  S Cmprsr 2017-07-13 02:11:28   97.2   1   1   2
1688978    Boiler 2017-07-13 02:11:30  112.5   1   1   1
1688979  N Cmprsr 2017-07-13 02:11:31  101.6  20  18  34
1688980  HeatPump 2017-07-13 02:11:32   72.9   3   2   8
1688981  N Cmprsr 2017-07-13 20:30:50  103.6   2   2   2
1688982    Boiler 2017-07-13 20:30:54  112.2   1   1   1
1688983  S Cmprsr 2017-07-13 20:30:54  100.7  32  33  31
1688984   Chiller 2017-07-13 20:30:54  109.6   1   2   2
1688985  HeatPump 2017-07-13 20:30:54   71.6   3   3   8
1688986  N Cmprsr 2017-07-13 20:30:55  103.6   2   1   1
1688987    Boiler 2017-07-13 20:30:59  112.3   1   1   1
1688988  S Cmprsr 2017-07-13 20:30:59  100.6  34  36  35

[1107523 rows x 6 columns]

In [9]:
#lets run another describe() to check that the range filter worked for 'DATE'
reliableData.describe(include = 'all')

,ID,DATE,TEMP,X,Y,Z
count,1107523,1107523,1107523.000000,1107523.000000,1107523.000000,1107523.000000
unique,6,737935,NaN,NaN,NaN,NaN
top,HeatPump,2017-07-12 11:55:03,NaN,NaN,NaN,NaN
freq,221916,66,NaN,NaN,NaN,NaN
first,NaN,2017-07-03 00:00:00,NaN,NaN,NaN,NaN
last,NaN,2017-07-15 23:19:12,NaN,NaN,NaN,NaN
mean,NaN,NaN,95.026881,4.454720,4.176664,6.726402
std,NaN,NaN,16.708331,8.927254,7.946984,14.883659
min,NaN,NaN,64.100000,1.000000,1.000000,1.000000
25%,NaN,NaN,83.400000,1.000000,1.000000,1.000000
50%,NaN,NaN,96.400000,1.000000,2.000000,2.000000
75%,NaN,NaN,109.500000,2.000000,2.000000,2.000000
max,NaN,NaN,270.000000,125.000000,122.000000,127.000000

In [10]:
#looks good; it looks like we also lost one of the unique 'ID' values
#lets take a look at the unique values inside the 'ID' column
reliableData['ID'].unique()

[HeatPump, S Cmprsr, Hand, N Cmprsr, Chiller, Boiler]
Categories (6, object): [HeatPump, S Cmprsr, Hand, N Cmprsr, Chiller, Boiler]

In [11]:
#next we drop the Hand value
noHandReliableData = reliableData[reliableData['ID'] != 'Hand']
noHandReliableData['ID'].unique()

[HeatPump, S Cmprsr, N Cmprsr, Chiller, Boiler]
Categories (5, object): [HeatPump, S Cmprsr, N Cmprsr, Chiller, Boiler]

In [12]:
#Next we'll replicate the aggregate and balance node in the  
#SPSS stream.  The purpose the two nodes is to create a data set 
#with an ID column that has all of the values that are still
#in our data set and columns for DATE, TEMP, X, Y, and Z.  We then  
#Want to populate 720 nulls as values for each record;
#in python, we use NaN to represent a null (NaN = not a number),
#and in order to add these in properly, we need to use the .nan
#statement from the numpy library; So let import it and give it  
#a nickname of np.

#then we'll create the extra records to append to the data set with null values;
#we need to pay close attention to set null values as nan accurately
#to keep data types accurate; they could also be read in as
#strings and the data type change would give us a headache;

import numpy as np

extraRecordsForLag = pd.DataFrame({'ID': ['HeatPump', 'S Cmprsr', 'N Cmprsr', 'Chiller', 'Boiler'] * 720,'DATE':[np.nan, np.nan, np.nan, np.nan, np.nan] * 720, 'TEMP':[ np.nan, np.nan, np.nan, np.nan, np.nan] * 720,'X':[np.nan, np.nan, np.nan, np.nan, np.nan] * 720, 'Z':[ np.nan, np.nan, np.nan, np.nan, np.nan] * 720, 'Y':[ np.nan, np.nan, np.nan, np.nan, np.nan] * 720})
extraRecordsForLag = extraRecordsForLag[['ID','DATE','TEMP','X','Y','Z']]
print extraRecordsForLag;

            ID  DATE  TEMP   X   Y   Z
0     HeatPump   NaN   NaN NaN NaN NaN
1     S Cmprsr   NaN   NaN NaN NaN NaN
2     N Cmprsr   NaN   NaN NaN NaN NaN
3      Chiller   NaN   NaN NaN NaN NaN
4       Boiler   NaN   NaN NaN NaN NaN
5     HeatPump   NaN   NaN NaN NaN NaN
6     S Cmprsr   NaN   NaN NaN NaN NaN
7     N Cmprsr   NaN   NaN NaN NaN NaN
8      Chiller   NaN   NaN NaN NaN NaN
9       Boiler   NaN   NaN NaN NaN NaN
10    HeatPump   NaN   NaN NaN NaN NaN
11    S Cmprsr   NaN   NaN NaN NaN NaN
12    N Cmprsr   NaN   NaN NaN NaN NaN
13     Chiller   NaN   NaN NaN NaN NaN
14      Boiler   NaN   NaN NaN NaN NaN
15    HeatPump   NaN   NaN NaN NaN NaN
16    S Cmprsr   NaN   NaN NaN NaN NaN
17    N Cmprsr   NaN   NaN NaN NaN NaN
18     Chiller   NaN   NaN NaN NaN NaN
19      Boiler   NaN   NaN NaN NaN NaN
20    HeatPump   NaN   NaN NaN NaN NaN
21    S Cmprsr   NaN   NaN NaN NaN NaN
22    N Cmprsr   NaN   NaN NaN NaN NaN
23     Chiller   NaN   NaN NaN NaN NaN
24      Boiler   NaN   NaN NaN NaN NaN
25    HeatPump   NaN   NaN NaN NaN NaN
26    S Cmprsr   NaN   NaN NaN NaN NaN
27    N Cmprsr   NaN   NaN NaN NaN NaN
28     Chiller   NaN   NaN NaN NaN NaN
29      Boiler   NaN   NaN NaN NaN NaN
...        ...   ...   ...  ..  ..  ..
3570  HeatPump   NaN   NaN NaN NaN NaN
3571  S Cmprsr   NaN   NaN NaN NaN NaN
3572  N Cmprsr   NaN   NaN NaN NaN NaN
3573   Chiller   NaN   NaN NaN NaN NaN
3574    Boiler   NaN   NaN NaN NaN NaN
3575  HeatPump   NaN   NaN NaN NaN NaN
3576  S Cmprsr   NaN   NaN NaN NaN NaN
3577  N Cmprsr   NaN   NaN NaN NaN NaN
3578   Chiller   NaN   NaN NaN NaN NaN
3579    Boiler   NaN   NaN NaN NaN NaN
3580  HeatPump   NaN   NaN NaN NaN NaN
3581  S Cmprsr   NaN   NaN NaN NaN NaN
3582  N Cmprsr   NaN   NaN NaN NaN NaN
3583   Chiller   NaN   NaN NaN NaN NaN
3584    Boiler   NaN   NaN NaN NaN NaN
3585  HeatPump   NaN   NaN NaN NaN NaN
3586  S Cmprsr   NaN   NaN NaN NaN NaN
3587  N Cmprsr   NaN   NaN NaN NaN NaN
3588   Chiller   NaN   NaN NaN NaN NaN
3589    Boiler   NaN   NaN NaN NaN NaN
3590  HeatPump   NaN   NaN NaN NaN NaN
3591  S Cmprsr   NaN   NaN NaN NaN NaN
3592  N Cmprsr   NaN   NaN NaN NaN NaN
3593   Chiller   NaN   NaN NaN NaN NaN
3594    Boiler   NaN   NaN NaN NaN NaN
3595  HeatPump   NaN   NaN NaN NaN NaN
3596  S Cmprsr   NaN   NaN NaN NaN NaN
3597  N Cmprsr   NaN   NaN NaN NaN NaN
3598   Chiller   NaN   NaN NaN NaN NaN
3599    Boiler   NaN   NaN NaN NaN NaN

[3600 rows x 6 columns]

In [13]:
#notice the size of the dataframe we created;
#lets keep track of those numbers to ensure our append
#happens how we want;

#lets do a quick check of the data types again;
#NaN values should be read in as numbers and not strings,
#so we're looking for some numeric data type;
extraRecordsForLag.dtypes

ID       object
DATE    float64
TEMP    float64
X       float64
Y       float64
Z       float64
dtype: object

In [14]:
#now we will append our created data set to the current data set 
#we are working with;  We'll then check the size of the data 
#set to make sure it's what we'd expect; 
appendedFrames = noHandReliableData.append(extraRecordsForLag);
appendedFrames.shape

(1009292, 6)

In [15]:
#the noHandReliable dataset has 1005692 records and 
#the nan set had 3600. 1005692 + 3600 = 1009292 so we're good.
noHandReliableData.shape

(1005692, 6)

One thing to note that I had troubles with while building out this notebook:  

I haven't been able to figure out if you can visualize and scroll  
through an entire data set as opposed to just a selection of data  
in python, similar to how you would with a table node in SPSS;  
So the following is my work around to check where the NaN values  
were appended to the data set; We need to do this to ensure the  
time lag happens correctly once we get to that part of the stream;

In [16]:
#first, let's sort our dataframe by ID and DATE columns;
#notice that the originial index was preserved 
#as a new column in the sortedSet dataframe;
#this is another thing that I don't totally 
#understand since you can still use the true 
#index numbers to slice the dataframe (ex: 
#715:730 returns the 714th through 729th records)

sortedSet = appendedFrames.sort_values(by = ['ID','DATE'], ascending = ['True','True'])
print sortedSet

               ID                DATE   TEMP   X   Y   Z
4          Boiler                 NaT    NaN NaN NaN NaN
9          Boiler                 NaT    NaN NaN NaN NaN
14         Boiler                 NaT    NaN NaN NaN NaN
19         Boiler                 NaT    NaN NaN NaN NaN
24         Boiler                 NaT    NaN NaN NaN NaN
29         Boiler                 NaT    NaN NaN NaN NaN
34         Boiler                 NaT    NaN NaN NaN NaN
39         Boiler                 NaT    NaN NaN NaN NaN
44         Boiler                 NaT    NaN NaN NaN NaN
49         Boiler                 NaT    NaN NaN NaN NaN
54         Boiler                 NaT    NaN NaN NaN NaN
59         Boiler                 NaT    NaN NaN NaN NaN
64         Boiler                 NaT    NaN NaN NaN NaN
69         Boiler                 NaT    NaN NaN NaN NaN
74         Boiler                 NaT    NaN NaN NaN NaN
79         Boiler                 NaT    NaN NaN NaN NaN
84         Boiler                 NaT    NaN NaN NaN NaN
89         Boiler                 NaT    NaN NaN NaN NaN
94         Boiler                 NaT    NaN NaN NaN NaN
99         Boiler                 NaT    NaN NaN NaN NaN
104        Boiler                 NaT    NaN NaN NaN NaN
109        Boiler                 NaT    NaN NaN NaN NaN
114        Boiler                 NaT    NaN NaN NaN NaN
119        Boiler                 NaT    NaN NaN NaN NaN
124        Boiler                 NaT    NaN NaN NaN NaN
129        Boiler                 NaT    NaN NaN NaN NaN
134        Boiler                 NaT    NaN NaN NaN NaN
139        Boiler                 NaT    NaN NaN NaN NaN
144        Boiler                 NaT    NaN NaN NaN NaN
149        Boiler                 NaT    NaN NaN NaN NaN
...           ...                 ...    ...  ..  ..  ..
1307635  S Cmprsr 2017-07-15 23:16:43  111.9  43  54  63
1307640  S Cmprsr 2017-07-15 23:16:48  112.3  51  51  60
1307645  S Cmprsr 2017-07-15 23:16:53  112.3  44  45  60
1307650  S Cmprsr 2017-07-15 23:16:58  112.2  42  45  63
1307655  S Cmprsr 2017-07-15 23:17:03  111.2  36  35  40
1307660  S Cmprsr 2017-07-15 23:17:08  111.6  30  28  28
1307664  S Cmprsr 2017-07-15 23:17:13  111.8  32  33  40
1307668  S Cmprsr 2017-07-15 23:17:19  110.0  30  28  40
1307673  S Cmprsr 2017-07-15 23:17:24  110.2  31  32  44
1307678  S Cmprsr 2017-07-15 23:17:29  110.1  35  28  45
1307683  S Cmprsr 2017-07-15 23:17:34  110.2  40  29  49
1307688  S Cmprsr 2017-07-15 23:17:39  110.2  35  30  37
1307693  S Cmprsr 2017-07-15 23:17:44  110.3  36  31  43
1307697  S Cmprsr 2017-07-15 23:17:48  110.0  31  28  38
1307702  S Cmprsr 2017-07-15 23:17:53  110.1  37  30  45
1307707  S Cmprsr 2017-07-15 23:17:58  109.9  34  26  43
1307712  S Cmprsr 2017-07-15 23:18:03  110.0  30  29  26
1307717  S Cmprsr 2017-07-15 23:18:08  109.9  34  31  44
1307722  S Cmprsr 2017-07-15 23:18:13  109.8  37  26  38
1307727  S Cmprsr 2017-07-15 23:18:18  110.0  33  29  45
1307732  S Cmprsr 2017-07-15 23:18:23  110.0  31  30  30
1307737  S Cmprsr 2017-07-15 23:18:28  109.9  32  31  38
1307743  S Cmprsr 2017-07-15 23:18:33  109.8  36  29  34
1307748  S Cmprsr 2017-07-15 23:18:38  109.9  45  30  45
1307753  S Cmprsr 2017-07-15 23:18:43  109.9  37  31  29
1307758  S Cmprsr 2017-07-15 23:18:48  107.8  33  26  38
1307763  S Cmprsr 2017-07-15 23:18:53  108.0  36  31  41
1307768  S Cmprsr 2017-07-15 23:18:58  108.1  35  28  46
1307773  S Cmprsr 2017-07-15 23:19:03  107.8  33  27  40
1307778  S Cmprsr 2017-07-15 23:19:08  107.8  35  31  48

[1009292 rows x 6 columns]

In [1]:
#in order to make things easier to understand,
#I will reset the index and drop the old index here;
#the resulting dataset's index is easier to understand;

#At first glance, it looks like the NaN values were 
#appeneded before each of their associated IDs;
#but let's keep digging so we can be sure this happens  
#for each ID value;
sortedSetNewIndex = sortedSet.reset_index(drop=True)
print sortedSetNewIndex;

NameError: name 'sortedSet' is not defined

In [18]:
#since we added 720 NaNs as values to each ID,
#let's jump to the area of the 720th record to see what
#it looks like; we do this by indexing  


print sortedSetNewIndex[(715):(725)];

         ID                DATE   TEMP   X   Y   Z
715  Boiler                 NaT    NaN NaN NaN NaN
716  Boiler                 NaT    NaN NaN NaN NaN
717  Boiler                 NaT    NaN NaN NaN NaN
718  Boiler                 NaT    NaN NaN NaN NaN
719  Boiler                 NaT    NaN NaN NaN NaN
720  Boiler 2017-07-08 23:10:02  115.8   2   2   2
721  Boiler 2017-07-08 23:10:07  115.7   2   2   2
722  Boiler 2017-07-08 23:10:12  115.8   2   2   2
723  Boiler 2017-07-08 23:10:17  115.8   2   2   2
724  Boiler 2017-07-08 23:10:22  115.7   2   2   2

In [19]:
#looks good. now lets go to the next ID (Chiller);

print sortedSetNewIndex[(719+119545):(725+119545)];

             ID                DATE   TEMP   X   Y   Z
120264   Boiler 2017-07-15 23:19:09  116.2   1   1   2
120265  Chiller                 NaT    NaN NaN NaN NaN
120266  Chiller                 NaT    NaN NaN NaN NaN
120267  Chiller                 NaT    NaN NaN NaN NaN
120268  Chiller                 NaT    NaN NaN NaN NaN
120269  Chiller                 NaT    NaN NaN NaN NaN

In [20]:
print sortedSetNewIndex[(719+119545+720):(725+119545+720)];

             ID                DATE   TEMP   X   Y   Z
120984  Chiller                 NaT    NaN NaN NaN NaN
120985  Chiller 2017-07-03 00:00:00  111.2   1   2   2
120986  Chiller 2017-07-03 00:00:05  111.2   1   2   2
120987  Chiller 2017-07-03 00:00:10  111.3   1   1   2
120988  Chiller 2017-07-03 00:00:15  111.1   1   2   2
120989  Chiller 2017-07-03 00:00:20  111.2   1   2   2

In [21]:
#Chillers look good.  Let's check out one more;
print sortedSetNewIndex[(719+119545+720+221465):(725+119545+720+221465)];

              ID                DATE   TEMP   X   Y   Z
342449   Chiller 2017-07-15 23:19:10  111.2   2   2   2
342450  HeatPump                 NaT    NaN NaN NaN NaN
342451  HeatPump                 NaT    NaN NaN NaN NaN
342452  HeatPump                 NaT    NaN NaN NaN NaN
342453  HeatPump                 NaT    NaN NaN NaN NaN
342454  HeatPump                 NaT    NaN NaN NaN NaN

In [22]:
print sortedSetNewIndex[(719 + 119545 + 720 + 221465  + 720): (725 + 119545 + 720+ 221465 + 720)];

              ID                DATE  TEMP   X   Y   Z
343169  HeatPump                 NaT   NaN NaN NaN NaN
343170  HeatPump 2017-07-03 00:00:03  70.8   2   2   9
343171  HeatPump 2017-07-03 00:00:08  74.0   3   2   9
343172  HeatPump 2017-07-03 00:00:13  71.1   3   2   8
343173  HeatPump 2017-07-03 00:00:18  68.8   3   2   8
343174  HeatPump 2017-07-03 00:00:23  71.0   3   2   8

In [23]:
print sortedSetNewIndex.tail(10)

               ID                DATE   TEMP   X   Y   Z
1009282  S Cmprsr 2017-07-15 23:18:23  110.0  31  30  30
1009283  S Cmprsr 2017-07-15 23:18:28  109.9  32  31  38
1009284  S Cmprsr 2017-07-15 23:18:33  109.8  36  29  34
1009285  S Cmprsr 2017-07-15 23:18:38  109.9  45  30  45
1009286  S Cmprsr 2017-07-15 23:18:43  109.9  37  31  29
1009287  S Cmprsr 2017-07-15 23:18:48  107.8  33  26  38
1009288  S Cmprsr 2017-07-15 23:18:53  108.0  36  31  41
1009289  S Cmprsr 2017-07-15 23:18:58  108.1  35  28  46
1009290  S Cmprsr 2017-07-15 23:19:03  107.8  33  27  40
1009291  S Cmprsr 2017-07-15 23:19:08  107.8  35  31  48

By reviewing the cells above, we can confirm that sorting  
by the ID and DATE placed the NaN values before the valid  
values like we wanted;  This is important because when we  
lag values, as we'll do next, we need to be sure we know what  
order our records are in

Next, we'll use the .shift funcation to lag the data  
720 periods...this is equivalent to lagging data in  
the history node in SPSS.  

To replicate how the history node works in SPSS, we will  
work with 2 data sets in this notebook.  We will first  
create a copy of our dataframe.  Then, we'll take the copied  
set and simply push all of the records down 720  
places in the data frame.  We'll then take that dataframe  
and merge it back on the index into the initial untouched  
dataframe.  This will create one dataframe with values  
lagged 720 periods in time.

In [24]:
laggedSortedSet = sortedSetNewIndex.shift(periods = 720, axis = 0)
print laggedSortedSet[715:730];

         ID DATE  TEMP   X   Y   Z
715     NaN  NaT   NaN NaN NaN NaN
716     NaN  NaT   NaN NaN NaN NaN
717     NaN  NaT   NaN NaN NaN NaN
718     NaN  NaT   NaN NaN NaN NaN
719     NaN  NaT   NaN NaN NaN NaN
720  Boiler  NaT   NaN NaN NaN NaN
721  Boiler  NaT   NaN NaN NaN NaN
722  Boiler  NaT   NaN NaN NaN NaN
723  Boiler  NaT   NaN NaN NaN NaN
724  Boiler  NaT   NaN NaN NaN NaN
725  Boiler  NaT   NaN NaN NaN NaN
726  Boiler  NaT   NaN NaN NaN NaN
727  Boiler  NaT   NaN NaN NaN NaN
728  Boiler  NaT   NaN NaN NaN NaN
729  Boiler  NaT   NaN NaN NaN NaN

In [25]:
#Viewing the output above and referencing the index column,
#we see that the records have been shifted down 720 places;
#the .shift function creates 720 new records with NaN values for all
#columns in the beginning of our dataframe; Next we will 
#rename column headers to prepare for a merge
laggedSortedSet.columns = ['ID','DATE_1','TEMP_1','X_1','Y_1','Z_1']
print laggedSortedSet[715:730];

         ID DATE_1  TEMP_1  X_1  Y_1  Z_1
715     NaN    NaT     NaN  NaN  NaN  NaN
716     NaN    NaT     NaN  NaN  NaN  NaN
717     NaN    NaT     NaN  NaN  NaN  NaN
718     NaN    NaT     NaN  NaN  NaN  NaN
719     NaN    NaT     NaN  NaN  NaN  NaN
720  Boiler    NaT     NaN  NaN  NaN  NaN
721  Boiler    NaT     NaN  NaN  NaN  NaN
722  Boiler    NaT     NaN  NaN  NaN  NaN
723  Boiler    NaT     NaN  NaN  NaN  NaN
724  Boiler    NaT     NaN  NaN  NaN  NaN
725  Boiler    NaT     NaN  NaN  NaN  NaN
726  Boiler    NaT     NaN  NaN  NaN  NaN
727  Boiler    NaT     NaN  NaN  NaN  NaN
728  Boiler    NaT     NaN  NaN  NaN  NaN
729  Boiler    NaT     NaN  NaN  NaN  NaN

In [26]:
# merging shifted data set back into our origional 
# data set to create the lagged data set
mergedNewSet = sortedSetNewIndex.merge(laggedSortedSet,how = 'outer',left_index = True, right_index = True)
print mergedNewSet;

             ID_x                DATE   TEMP   X   Y   Z      ID_y  \
0          Boiler                 NaT    NaN NaN NaN NaN       NaN
1          Boiler                 NaT    NaN NaN NaN NaN       NaN
2          Boiler                 NaT    NaN NaN NaN NaN       NaN
3          Boiler                 NaT    NaN NaN NaN NaN       NaN
4          Boiler                 NaT    NaN NaN NaN NaN       NaN
5          Boiler                 NaT    NaN NaN NaN NaN       NaN
6          Boiler                 NaT    NaN NaN NaN NaN       NaN
7          Boiler                 NaT    NaN NaN NaN NaN       NaN
8          Boiler                 NaT    NaN NaN NaN NaN       NaN
9          Boiler                 NaT    NaN NaN NaN NaN       NaN
10         Boiler                 NaT    NaN NaN NaN NaN       NaN
11         Boiler                 NaT    NaN NaN NaN NaN       NaN
12         Boiler                 NaT    NaN NaN NaN NaN       NaN
13         Boiler                 NaT    NaN NaN NaN NaN       NaN
14         Boiler                 NaT    NaN NaN NaN NaN       NaN
15         Boiler                 NaT    NaN NaN NaN NaN       NaN
16         Boiler                 NaT    NaN NaN NaN NaN       NaN
17         Boiler                 NaT    NaN NaN NaN NaN       NaN
18         Boiler                 NaT    NaN NaN NaN NaN       NaN
19         Boiler                 NaT    NaN NaN NaN NaN       NaN
20         Boiler                 NaT    NaN NaN NaN NaN       NaN
21         Boiler                 NaT    NaN NaN NaN NaN       NaN
22         Boiler                 NaT    NaN NaN NaN NaN       NaN
23         Boiler                 NaT    NaN NaN NaN NaN       NaN
24         Boiler                 NaT    NaN NaN NaN NaN       NaN
25         Boiler                 NaT    NaN NaN NaN NaN       NaN
26         Boiler                 NaT    NaN NaN NaN NaN       NaN
27         Boiler                 NaT    NaN NaN NaN NaN       NaN
28         Boiler                 NaT    NaN NaN NaN NaN       NaN
29         Boiler                 NaT    NaN NaN NaN NaN       NaN
...           ...                 ...    ...  ..  ..  ..       ...
1009262  S Cmprsr 2017-07-15 23:16:43  111.9  43  54  63  S Cmprsr
1009263  S Cmprsr 2017-07-15 23:16:48  112.3  51  51  60  S Cmprsr
1009264  S Cmprsr 2017-07-15 23:16:53  112.3  44  45  60  S Cmprsr
1009265  S Cmprsr 2017-07-15 23:16:58  112.2  42  45  63  S Cmprsr
1009266  S Cmprsr 2017-07-15 23:17:03  111.2  36  35  40  S Cmprsr
1009267  S Cmprsr 2017-07-15 23:17:08  111.6  30  28  28  S Cmprsr
1009268  S Cmprsr 2017-07-15 23:17:13  111.8  32  33  40  S Cmprsr
1009269  S Cmprsr 2017-07-15 23:17:19  110.0  30  28  40  S Cmprsr
1009270  S Cmprsr 2017-07-15 23:17:24  110.2  31  32  44  S Cmprsr
1009271  S Cmprsr 2017-07-15 23:17:29  110.1  35  28  45  S Cmprsr
1009272  S Cmprsr 2017-07-15 23:17:34  110.2  40  29  49  S Cmprsr
1009273  S Cmprsr 2017-07-15 23:17:39  110.2  35  30  37  S Cmprsr
1009274  S Cmprsr 2017-07-15 23:17:44  110.3  36  31  43  S Cmprsr
1009275  S Cmprsr 2017-07-15 23:17:48  110.0  31  28  38  S Cmprsr
1009276  S Cmprsr 2017-07-15 23:17:53  110.1  37  30  45  S Cmprsr
1009277  S Cmprsr 2017-07-15 23:17:58  109.9  34  26  43  S Cmprsr
1009278  S Cmprsr 2017-07-15 23:18:03  110.0  30  29  26  S Cmprsr
1009279  S Cmprsr 2017-07-15 23:18:08  109.9  34  31  44  S Cmprsr
1009280  S Cmprsr 2017-07-15 23:18:13  109.8  37  26  38  S Cmprsr
1009281  S Cmprsr 2017-07-15 23:18:18  110.0  33  29  45  S Cmprsr
1009282  S Cmprsr 2017-07-15 23:18:23  110.0  31  30  30  S Cmprsr
1009283  S Cmprsr 2017-07-15 23:18:28  109.9  32  31  38  S Cmprsr
1009284  S Cmprsr 2017-07-15 23:18:33  109.8  36  29  34  S Cmprsr
1009285  S Cmprsr 2017-07-15 23:18:38  109.9  45  30  45  S Cmprsr
1009286  S Cmprsr 2017-07-15 23:18:43  109.9  37  31  29  S Cmprsr
1009287  S Cmprsr 2017-07-15 23:18:48  107.8  33  26  38  S Cmprsr
1009288  S Cmprsr 2017-07-15 23:18:53  108.0  36  31  41  S Cmprsr
1009289  S Cmprsr 2017-07-15 23:18:58  108.1  35  28  46  S Cmprsr
1009290  S Cmprsr 2017-07-15 23:19:03  107.8  33  27  40  S Cmprsr
1009291  S Cmprsr 2017-07-15 23:19:08  107.8  35  31  48  S Cmprsr

                     DATE_1  TEMP_1  X_1  Y_1  Z_1
0                       NaT     NaN  NaN  NaN  NaN
1                       NaT     NaN  NaN  NaN  NaN
2                       NaT     NaN  NaN  NaN  NaN
3                       NaT     NaN  NaN  NaN  NaN
4                       NaT     NaN  NaN  NaN  NaN
5                       NaT     NaN  NaN  NaN  NaN
6                       NaT     NaN  NaN  NaN  NaN
7                       NaT     NaN  NaN  NaN  NaN
8                       NaT     NaN  NaN  NaN  NaN
9                       NaT     NaN  NaN  NaN  NaN
10                      NaT     NaN  NaN  NaN  NaN
11                      NaT     NaN  NaN  NaN  NaN
12                      NaT     NaN  NaN  NaN  NaN
13                      NaT     NaN  NaN  NaN  NaN
14                      NaT     NaN  NaN  NaN  NaN
15                      NaT     NaN  NaN  NaN  NaN
16                      NaT     NaN  NaN  NaN  NaN
17                      NaT     NaN  NaN  NaN  NaN
18                      NaT     NaN  NaN  NaN  NaN
19                      NaT     NaN  NaN  NaN  NaN
20                      NaT     NaN  NaN  NaN  NaN
21                      NaT     NaN  NaN  NaN  NaN
22                      NaT     NaN  NaN  NaN  NaN
23                      NaT     NaN  NaN  NaN  NaN
24                      NaT     NaN  NaN  NaN  NaN
25                      NaT     NaN  NaN  NaN  NaN
26                      NaT     NaN  NaN  NaN  NaN
27                      NaT     NaN  NaN  NaN  NaN
28                      NaT     NaN  NaN  NaN  NaN
29                      NaT     NaN  NaN  NaN  NaN
...                     ...     ...  ...  ...  ...
1009262 2017-07-15 22:16:21   106.6    1    1    2
1009263 2017-07-15 22:16:26   106.6    1    1    2
1009264 2017-07-15 22:16:31   106.7    1    1    2
1009265 2017-07-15 22:16:36   106.6    1    1    2
1009266 2017-07-15 22:16:42   106.7    1    1    2
1009267 2017-07-15 22:16:47   106.6    1    1    2
1009268 2017-07-15 22:16:52   106.6    1    1    2
1009269 2017-07-15 22:16:57   106.6    1    1    2
1009270 2017-07-15 22:17:01   106.6    1    1    2
1009271 2017-07-15 22:17:06   106.6    1    1    2
1009272 2017-07-15 22:17:11   106.6    1    1    2
1009273 2017-07-15 22:17:16   106.6    1    1    2
1009274 2017-07-15 22:17:21   106.6    1    1    2
1009275 2017-07-15 22:17:26   106.7    1    1    2
1009276 2017-07-15 22:17:31   106.7    1    1    2
1009277 2017-07-15 22:17:36   106.9    1    1    2
1009278 2017-07-15 22:17:41   106.9    1    1    2
1009279 2017-07-15 22:17:46   106.6    1    1    2
1009280 2017-07-15 22:17:51   106.6    1    1    2
1009281 2017-07-15 22:17:56   106.5    1    1    2
1009282 2017-07-15 22:18:01   106.5    1    1    2
1009283 2017-07-15 22:18:07   106.5    1    1    2
1009284 2017-07-15 22:18:11   106.4    1    1    2
1009285 2017-07-15 22:18:16   106.5    1    1    2
1009286 2017-07-15 22:18:21   106.6    1    1    2
1009287 2017-07-15 22:18:26   108.5    1    1    2
1009288 2017-07-15 22:18:31   108.4    1    1    2
1009289 2017-07-15 22:18:36   108.3    1    1    2
1009290 2017-07-15 22:18:41   108.4    1    1    2
1009291 2017-07-15 22:18:46   108.5    1    1    2

[1009292 rows x 12 columns]

In [27]:
#sanity check to confirm the merge worked how we want
#...looks like it did
print mergedNewSet[718:722]

       ID_x                DATE   TEMP   X   Y   Z    ID_y DATE_1  TEMP_1  \
718  Boiler                 NaT    NaN NaN NaN NaN     NaN    NaT     NaN
719  Boiler                 NaT    NaN NaN NaN NaN     NaN    NaT     NaN
720  Boiler 2017-07-08 23:10:02  115.8   2   2   2  Boiler    NaT     NaN
721  Boiler 2017-07-08 23:10:07  115.7   2   2   2  Boiler    NaT     NaN

     X_1  Y_1  Z_1
718  NaN  NaN  NaN
719  NaN  NaN  NaN
720  NaN  NaN  NaN
721  NaN  NaN  NaN

In [28]:
#another check...looks good
print mergedNewSet[1435:1445]

        ID_x                DATE   TEMP  X  Y  Z    ID_y              DATE_1  \
1435  Boiler 2017-07-09 00:09:59  115.7  2  2  2  Boiler                 NaT
1436  Boiler 2017-07-09 00:10:04  115.7  2  2  2  Boiler                 NaT
1437  Boiler 2017-07-09 00:10:09  115.7  2  2  2  Boiler                 NaT
1438  Boiler 2017-07-09 00:10:14  115.7  2  2  2  Boiler                 NaT
1439  Boiler 2017-07-09 00:10:19  115.7  2  2  2  Boiler                 NaT
1440  Boiler 2017-07-09 00:10:24  115.7  2  2  2  Boiler 2017-07-08 23:10:02
1441  Boiler 2017-07-09 00:10:28  115.7  2  2  2  Boiler 2017-07-08 23:10:07
1442  Boiler 2017-07-09 00:10:33  115.7  2  2  2  Boiler 2017-07-08 23:10:12
1443  Boiler 2017-07-09 00:10:38  115.6  2  2  2  Boiler 2017-07-08 23:10:17
1444  Boiler 2017-07-09 00:10:43  115.7  2  2  2  Boiler 2017-07-08 23:10:22

      TEMP_1  X_1  Y_1  Z_1
1435     NaN  NaN  NaN  NaN
1436     NaN  NaN  NaN  NaN
1437     NaN  NaN  NaN  NaN
1438     NaN  NaN  NaN  NaN
1439     NaN  NaN  NaN  NaN
1440   115.8    2    2    2
1441   115.7    2    2    2
1442   115.8    2    2    2
1443   115.8    2    2    2
1444   115.7    2    2    2

In [29]:
#one more, looking at Chiller ID values;
#...looks good
print mergedNewSet[1435+119545:1445+119545]

           ID_x                DATE   TEMP   X   Y   Z     ID_y  \
120980  Chiller                 NaT    NaN NaN NaN NaN   Boiler
120981  Chiller                 NaT    NaN NaN NaN NaN   Boiler
120982  Chiller                 NaT    NaN NaN NaN NaN   Boiler
120983  Chiller                 NaT    NaN NaN NaN NaN   Boiler
120984  Chiller                 NaT    NaN NaN NaN NaN   Boiler
120985  Chiller 2017-07-03 00:00:00  111.2   1   2   2  Chiller
120986  Chiller 2017-07-03 00:00:05  111.2   1   2   2  Chiller
120987  Chiller 2017-07-03 00:00:10  111.3   1   1   2  Chiller
120988  Chiller 2017-07-03 00:00:15  111.1   1   2   2  Chiller
120989  Chiller 2017-07-03 00:00:20  111.2   1   2   2  Chiller

                    DATE_1  TEMP_1  X_1  Y_1  Z_1
120980 2017-07-15 23:18:49   116.2    1    1    2
120981 2017-07-15 23:18:54   116.1    1    1    1
120982 2017-07-15 23:18:59   116.2    1    1    2
120983 2017-07-15 23:19:04   116.1    1    1    2
120984 2017-07-15 23:19:09   116.2    1    1    2
120985                 NaT     NaN  NaN  NaN  NaN
120986                 NaT     NaN  NaN  NaN  NaN
120987                 NaT     NaN  NaN  NaN  NaN
120988                 NaT     NaN  NaN  NaN  NaN
120989                 NaT     NaN  NaN  NaN  NaN

In [30]:
#now we remove the records where NaN is the value for TEMP or TEMP_1
#to replicate the select node;  We need to keep track of the size of
#the dataframe to make sure this happens correctly;
mergedNewSet.shape

(1009292, 12)

In [31]:
#dropping null TEMPs and TEMP_1s in the next two cells
#...3600 records are removed
noTempNullDF = mergedNewSet[mergedNewSet.TEMP.notnull()]
noTempNullDF.shape

(1005692, 12)

In [32]:
#dropping TEMP_1 nulls also;
#...3600 records removed again;
noTempNullDF = noTempNullDF[noTempNullDF.TEMP_1.notnull()]
noTempNullDF.shape

(1002092, 12)

In [33]:
#quick data type check
noTempNullDF.dtypes

ID_x            category
DATE      datetime64[ns]
TEMP             float64
X                float64
Y                float64
Z                float64
ID_y            category
DATE_1    datetime64[ns]
TEMP_1           float64
X_1              float64
Y_1              float64
Z_1              float64
dtype: object

In [34]:
#sanity check to make sure the timestamps of our records are what
#we'd expect; the below selection looks good, the Timestamps on 
#the right are an hour before the Timestamps on the left...great!
noTempNullDF.head(10)

,ID_x,DATE,TEMP,X,Y,Z,ID_y,DATE_1,TEMP_1,X_1,Y_1,Z_1
1440,Boiler,2017-07-09 00:10:24,115.7,2,2,2,Boiler,2017-07-08 23:10:02,115.8,2,2,2
1441,Boiler,2017-07-09 00:10:28,115.7,2,2,2,Boiler,2017-07-08 23:10:07,115.7,2,2,2
1442,Boiler,2017-07-09 00:10:33,115.7,2,2,2,Boiler,2017-07-08 23:10:12,115.8,2,2,2
1443,Boiler,2017-07-09 00:10:38,115.6,2,2,2,Boiler,2017-07-08 23:10:17,115.8,2,2,2
1444,Boiler,2017-07-09 00:10:43,115.7,2,2,2,Boiler,2017-07-08 23:10:22,115.7,2,2,2
1445,Boiler,2017-07-09 00:10:48,115.8,2,2,2,Boiler,2017-07-08 23:10:27,115.6,2,2,2
1446,Boiler,2017-07-09 00:10:53,115.7,2,2,2,Boiler,2017-07-08 23:10:32,115.8,2,2,2
1447,Boiler,2017-07-09 00:10:59,115.7,2,2,2,Boiler,2017-07-08 23:10:37,115.7,2,2,2
1448,Boiler,2017-07-09 00:11:04,115.7,2,2,2,Boiler,2017-07-08 23:10:42,115.7,2,2,2
1449,Boiler,2017-07-09 00:11:09,115.7,2,2,2,Boiler,2017-07-08 23:10:47,115.7,2,2,2

In [35]:
#resetting index again and doing final sanity check
noTempNullDF = noTempNullDF.reset_index(drop=True)

In [36]:
#last check, looking at the end of the Boilers and beginning of the Chillers
noTempNullDF[(119540-720):(119550-720)]

,ID_x,DATE,TEMP,X,Y,Z,ID_y,DATE_1,TEMP_1,X_1,Y_1,Z_1
118820,Boiler,2017-07-15 23:18:49,116.2,1,1,2,Boiler,2017-07-15 22:18:27,116.0,1,1,2
118821,Boiler,2017-07-15 23:18:54,116.1,1,1,1,Boiler,2017-07-15 22:18:32,116.0,1,1,2
118822,Boiler,2017-07-15 23:18:59,116.2,1,1,2,Boiler,2017-07-15 22:18:37,116.0,1,1,2
118823,Boiler,2017-07-15 23:19:04,116.1,1,1,2,Boiler,2017-07-15 22:18:42,116.0,1,1,2
118824,Boiler,2017-07-15 23:19:09,116.2,1,1,2,Boiler,2017-07-15 22:18:47,116.0,1,1,2
118825,Chiller,2017-07-03 01:00:34,111.4,1,2,2,Chiller,2017-07-03 00:00:00,111.2,1,2,2
118826,Chiller,2017-07-03 01:00:39,111.4,1,2,2,Chiller,2017-07-03 00:00:05,111.2,1,2,2
118827,Chiller,2017-07-03 01:00:44,111.4,1,2,2,Chiller,2017-07-03 00:00:10,111.3,1,1,2
118828,Chiller,2017-07-03 01:00:49,111.4,1,2,2,Chiller,2017-07-03 00:00:15,111.1,1,2,2
118829,Chiller,2017-07-03 01:00:53,111.5,1,2,2,Chiller,2017-07-03 00:00:20,111.2,1,2,2

In [37]:
#now we need to drop the columns that we don't want in our training data 
#set that we feed into the algorithm;
trimmedDataFrame = noTempNullDF.drop(['DATE_1','ID_y','X','Y','Z'], axis = 1)
trimmedDataFrame.head(10)

     ID_x                DATE   TEMP  TEMP_1  X_1  Y_1  Z_1
0  Boiler 2017-07-09 00:10:24  115.7   115.8    2    2    2
1  Boiler 2017-07-09 00:10:28  115.7   115.7    2    2    2
2  Boiler 2017-07-09 00:10:33  115.7   115.8    2    2    2
3  Boiler 2017-07-09 00:10:38  115.6   115.8    2    2    2
4  Boiler 2017-07-09 00:10:43  115.7   115.7    2    2    2
5  Boiler 2017-07-09 00:10:48  115.8   115.6    2    2    2
6  Boiler 2017-07-09 00:10:53  115.7   115.8    2    2    2
7  Boiler 2017-07-09 00:10:59  115.7   115.7    2    2    2
8  Boiler 2017-07-09 00:11:04  115.7   115.7    2    2    2
9  Boiler 2017-07-09 00:11:09  115.7   115.7    2    2    2

In [38]:
#renaming the colums of the dataframe and confirming the dataframe 
#matches the data set in the spss stream....
#it does
trimmedDataFrame.columns = ['ID','DATE','TEMP_IN_1_HR','TEMP','X','Y','Z']
trimmedDataFrame.head(10)

       ID                DATE  TEMP_IN_1_HR   TEMP  X  Y  Z
0  Boiler 2017-07-09 00:10:24         115.7  115.8  2  2  2
1  Boiler 2017-07-09 00:10:28         115.7  115.7  2  2  2
2  Boiler 2017-07-09 00:10:33         115.7  115.8  2  2  2
3  Boiler 2017-07-09 00:10:38         115.6  115.8  2  2  2
4  Boiler 2017-07-09 00:10:43         115.7  115.7  2  2  2
5  Boiler 2017-07-09 00:10:48         115.8  115.6  2  2  2
6  Boiler 2017-07-09 00:10:53         115.7  115.8  2  2  2
7  Boiler 2017-07-09 00:10:59         115.7  115.7  2  2  2
8  Boiler 2017-07-09 00:11:04         115.7  115.7  2  2  2
9  Boiler 2017-07-09 00:11:09         115.7  115.7  2  2  2

<h2 style="color:blue"> Algorithm training </h2>

In the final section of this notebook, we will train models  
and evaluate their performance.  First we need to  
import the algorithm from the sklearn package in python  
that we will use for our modeling.  For this model,  
we will use the linear regression algorithm.  We'll  
first train the model and then score new records with it  
from a hold out set-this is the second data frame we imported  
in the very beginning of this notebook.

By using 'from' and 'import' as statements, we are telling  
python to only import certain items from the library.  
In this case, we are importing 2 classes from  
the sklearn library.

In [39]:
from sklearn import linear_model, metrics

In [40]:
#here, we create an instance of the Linear Regression
#model that is in the linear_model class;
#we can then pass in training data to the class to
#train the algorithm;
linReg = linear_model.LinearRegression()

However, for training a model, we don't just want to  
train one model, we want to build a seperate model for  
each unique value in the ID column.  This will be  
eqiuvalent to a split model in SPSS.  To do this, we will  
use a for loop with selecting and indexing.

We write a for loop that grabs the unique values  
inside the ID colomn of the dataframe and then creates a  
seperate dataframe for just those IDs each time through the loop.  

Then, to use the liner regression model, we need to pass in our  
input data columns as 1 dataframe and our target as a seperate  
dataframe.  The seperation of the dataframes and passing in of  
each dataframe as arguments into the linear regression model is  
done through each iteration of the loop below.  

We'll then use the unique value that was grabbed initially  
to create our testing data sets based on the scoring_input csv  
file that we imported in the beginning of this notebook.  We use  
the .predict statement to score these records each time through  
the loop.  Finally, we output goodness of fit metrics along with  
the first few records of each seperate scored data set so we can  
compare the predictions made in the notebook to the SPSS stream.

In [41]:
#quick check of the unique values that we will be looping through
trimmedDataFrame.ID.unique()

[Boiler, Chiller, HeatPump, N Cmprsr, S Cmprsr]
Categories (5, object): [Boiler, Chiller, HeatPump, N Cmprsr, S Cmprsr]

In [42]:
for i in trimmedDataFrame.ID.unique():
    trainFrame = trimmedDataFrame[trimmedDataFrame.ID == i]
    y = trainFrame.drop(['DATE','ID','TEMP','X','Y','Z'], axis = 1) 
    x = trainFrame.drop(['ID','DATE','TEMP_IN_1_HR'],axis = 1)
    model = linReg.fit(x,y)
    testFrame = scoring_input_data[scoring_input_data.ID == i]
    testFrame = testFrame.drop(['ID','DATE'], axis = 1)
    preds = pd.DataFrame(model.predict(testFrame),columns=['Predicted_TEMP_IN_1_HR'])
### IMPORTANT: WE HAD TO TRIM THE FIRST 720 RECORDS FROM THE PREDICTIONS TO MAKE THE 
### PREDICTION AND TRUE TEMP_IN_1_HR SET BE THE SAME LENGTH FOR THE PYTHON 
### GOODNESS OF FIT METRICS TO WORK
    goodnessOfFitSet = preds[720:]
    model_mean_absolute_error = metrics.mean_absolute_error(trainFrame.TEMP_IN_1_HR,goodnessOfFitSet.Predicted_TEMP_IN_1_HR)
    model_mean_squared_error = metrics.mean_squared_error(trainFrame.TEMP_IN_1_HR,goodnessOfFitSet.Predicted_TEMP_IN_1_HR)
    model_linear_correlation = metrics.r2_score(trainFrame.TEMP_IN_1_HR,goodnessOfFitSet.Predicted_TEMP_IN_1_HR)
    
    print "%s:" %i + '\n', "mean absolute error:", model_mean_absolute_error,'\n',"mean squared error:", model_mean_squared_error,'\n',"linear correlation:",model_linear_correlation,'\n', preds.head()

Boiler:
mean absolute error: 4.71070268672
mean squared error: 173.550978543
linear correlation: 0.0270717700041
   Predicted_TEMP_IN_1_HR
0              113.552205
1              113.554434
2              113.552205
3              113.552205
4              113.554434
Chiller:
mean absolute error: 1.48660108287
mean squared error: 3.83840080152
linear correlation: 0.761615845971
   Predicted_TEMP_IN_1_HR
0              110.646952
1              110.646952
2              111.574964
3              110.596265
4              110.646952
HeatPump:
mean absolute error: 0.79090818496
mean squared error: 1.06603597563
linear correlation: 0.595767746738
   Predicted_TEMP_IN_1_HR
0               70.131497
1               71.598255
2               70.574862
3               69.651788
4               70.534729
N Cmprsr:
mean absolute error: 0.911475439934
mean squared error: 1.14780264677
linear correlation: 0.990036305745
   Predicted_TEMP_IN_1_HR
0              103.743091
1              103.739336
2              103.835039
3              103.835039
4              103.743091
S Cmprsr:
mean absolute error: 1.44524971917
mean squared error: 3.56747107548
linear correlation: 0.966762146825
   Predicted_TEMP_IN_1_HR
0              101.885367
1              101.719944
2              101.719944
3              101.719944
4              101.911634

By referencing the predictions coming out of the  
scoring golden nugget in SPSS, we see the predictions  
are the exact same.  Great!